.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .list {
    column-gap: 24px;
    row-gap: 32px;
  }
}
